<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Luma.Testcase2_Addtocart"/>
      <class name="Luma.Testcase1_SignIn"/>
      <class name="Luma.Luma_Addtocart"/>
      <class name="Luma.Luma_listener"/>
      <class name="Luma.Luma_LoginData"/>
      <class name="Luma.Luma_signin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
